@import "../../styles/functions.scss";

.avatargroup {
  display: inline-flex;
  align-items: center;
  .avatar {
    &:not(:first-child) {
      margin-left: -0.5rem;
      border: 2px solid var(--bg-color-light);
      border-radius: 50%;
    }
    display: inline-flex;
  }
  .more {
    margin-left: -0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    overflow: hidden;
    height: 0.5rem;
    width: 0.5rem;

    border: 2px solid var(--bg-color-light);
    border-radius: 50%;
    background-color: var(--font-light-color);
  }
}
