@import "../../styles/functions.scss";

.avatargroup {
  display: inline-flex;
  align-items: center;
  .avatar {
    &:not(:first-child) {
      margin-left: calc(-1 * var(--spacing-small));
      border: 2px solid var(--bg-color);
      border-radius: 50%;
    }
    display: inline-flex;
  }
  .more {
    margin-left: calc(-1 * var(--spacing-small));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-small);
    overflow: hidden;
    height: var(--spacing-small);
    width: var(--spacing-small);

    border: 2px solid var(--bg-color);
    border-radius: 50%;
    background-color: var(--font-light-color);
  }
}
