.feed {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  .timeline {
    flex-grow: 0;
    padding-top: 2rem;
  }
  .items {
    flex-grow: 1;
    margin-left: -0.55rem;
    display: grid;
    grid-auto-flow: row;
    row-gap: 1.5rem;
  }
}
