@import "../../styles/colors.scss";

.appbar {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  top: 0;
  background-color: $backgroundLight;
  border-bottom: 1px solid $greyLight;
  padding: 0.75rem 0;
  box-sizing: border-box;
}
