@import "../../styles/functions";

.card {
  &:hover {
    cursor: pointer;
    .bubble {
      background-color: var(--bg-color-hover);
    }
  }
  &:active {
    .bubble {
      background-color: alpha(var(--primary-color-light), 0.2);
    }
  }
  .bubble {
    transition: all 0.2s ease-in-out;
    border-radius: var(--spacing-med);
    padding: var(--spacing-small) var(--spacing-med);
    background-color: var(--bg-color);
  }
}
