@import "../../styles/sizes.scss";

.applayout {
  height: 100vh;
  width: 100%;
  // max-width: 100%;
  display: grid;
  grid-template-columns: minmax(min-content, 300px) auto;
  grid-template-rows: max-content auto;
  gap: var(--spacing-big);
  grid-template-areas:
    "appbar appbar"
    "navigation main";
  > nav {
    grid-area: navigation;
  }
  > header {
    grid-area: appbar;
  }
  > aside {
    grid-area: aside;
  }
  > main {
    grid-area: main;
    padding: var(--spacing-big) var(--spacing-big) 0 0;
    margin-top: calc(var(--spacing-big) * -1);
  }
}
@media (max-width: $tablet) {
  .applayout {
    height: unset;
    display: block;
    nav {
      position: fixed;
      bottom: 0;
      width: 100%;
      z-index: 99;
    }
    header {
      position: fixed;
      top: 0;
      z-index: 99;
    }
    main {
      position: fixed;
      box-sizing: border-box;
      padding: 60px var(--spacing-small) 0;
      margin-top: unset;
      top: 0;
      right: 0;
      bottom: 44px;
      left: 0;
    }
  }
}

@media (max-width: $mobile) {
  .applayout {
    main {
      padding-top: 50px;
    }
  }
}
