@import "../../styles/sizes.scss";

.applayout {
  height: 100vh;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: max-content auto;
  grid-template-areas:
    "navigation appbar"
    "navigation main";
  nav:first-child {
    grid-area: navigation;
  }
  header:nth-child(2) {
    grid-area: appbar;
  }
  main:nth-child(3) {
    grid-area: main;
  }
}
@media (max-width: $tablet) {
  .applayout {
    height: unset;
    nav {
      position: fixed;
      bottom: 0;
      width: 100%;
      z-index: 99;
    }
    header {
      position: fixed;
      top: 0;
      z-index: 99;
    }
    main {
      position: fixed;
      box-sizing: border-box;
      top: 38px;
      right: 0;
      bottom: 43px;
      left: 0;
    }
  }
}
