@import "../../styles/functions.scss";

.container {
  display: block;
  position: relative;
  .searchbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.3rem 0;
    border-bottom: 1px solid var(--border-color);
    // border-radius: 6px;
    .selected {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      .selection {
        &:not(:last-child) {
          margin-right: 0.25rem;
        }
        margin-bottom: 0.25rem;
      }
    }
    .search {
      width: 100%;
      color: var(--font-color);
      input {
        font-family: var(--body-font);
        background-color: inherit;
        font-style: normal;
        color: inherit;
        font-size: 1em;
        border: none;
        width: 100%;
        &::placeholder {
          color: var(--font-secondary-color);
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
  .results {
    width: 100%;

    .result {
      padding: var(--spacing-small) var(--spacing-med);
      &:hover {
        background-color: var(--bg-color-hover);

        cursor: pointer;
      }
    }
  }
}

.popup-container {
  display: unset;
}
