@import "../../styles/functions.scss";

.container {
  display: block;
  position: relative;
  .searchbox {
    display: grid;
    grid-template-columns: max-content minmax(5rem, auto);
    column-gap: 0.25rem;
    align-items: center;
    padding: 0.3rem 0;
    border-bottom: 1px solid var(--border-color);
    // border-radius: 6px;
    .selected {
      display: flex;
      flex-direction: row;
      align-items: center;
      .selection {
        &:not(:last-child) {
          margin-right: 0.25rem;
        }
      }
    }
    .search {
      flex-grow: 1;
      input {
        font-family: var(--body-font);
        background-color: inherit;
        font-style: normal;
        // line-height: 0;
        font-size: 1em;
        border: none;
        width: 100%;
        &::placeholder {
          color: var(--font-secondary-color);
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
  .results {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.25), 0 4px 16px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    background-color: var(--bg-color-light);
    position: absolute;
    max-height: 200px;
    // margin-top: 0.2rem;
    top: 100%;

    .result {
      padding: var(--spacing-small) var(--spacing-med);
      &:hover {
        background-color: lightness(var(--font-light-color), 1.18);
        cursor: pointer;
      }
    }
  }
}
