@import "../../../styles/colors.scss";

.menuitem {
  padding: var(--spacing-small) 1.25rem;
  transition: all 0.2s ease-in-out;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  &:focus {
    outline: 1px dotted var(--secondary-color-light);
    background-color: lightness(var(--font-light-color), 1.15);
  }
  &:hover {
    background-color: lightness(var(--font-light-color), 1.18);
    cursor: pointer;
  }
  &:active {
    background-color: lightness(var(--font-light-color), 1.12);
  }
  &.active {
    background-color: alpha(var(--secondary-color-light), 0.2);
  }
}
