.usercard {
  display: grid;
  grid-auto-flow: row;
  row-gap: 1.25rem;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .avatar-container {
      position: relative;
      margin-bottom: var(--spacing-small);
      .button {
        position: absolute;
        left: 75%;
        top: 75%;
      }
    }
  }
}
