@import "../../styles/functions.scss";

.badged {
  position: relative;
  display: inline-flex;
  .badge {
    position: absolute;
    display: inline-flex;
    &.circle {
      width: var(--spacing-small);
      height: var(--spacing-small);
      border-radius: 50%;
    }
    &.border {
      border: 2px solid var(--bg-color-light);
    }
    &.green {
      background-color: var(--green-color);
    }
    &.red {
      background-color: var(--red-color);
    }
    &.yellow {
      background-color: var(--accent-color);
    }
    &.secondary {
      background-color: var(--secondary-color);
    }
    &.top {
      top: -0.4vh;
    }
    &.bottom {
      bottom: -0.4vh;
    }
    &.left {
      left: -0.4vw;
    }
    &.right {
      right: -0.4vw;
    }
  }
}
