@import "../../styles/colors";

.button {
  /* // SAME FOR ALL */
  box-sizing: border-box;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-family: atten-round-new, sans-serif;
  border-radius: 6px;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:focus {
    outline: 1px dotted var(--secondary-color-light);
  }
  /* // SIZE: DEFAULT */
  padding: 0.3em 1.1em;
  line-height: 1.75;
  font-size: 0.875rem;
  /* // SIZE: BIG */
  &.big {
    font-size: 1.2rem;
  }
  &.small {
    font-size: 0.75rem;
  }
  /* // SIZE: FULL-WIDTH */
  &.full-width {
    width: 100%;
  }
  /* // VARIANT: DEFAULT */
  border: none;
  background-color: transparent;
  color: var(--font-secondary-color);
  &:hover {
    background-color: alpha(var(--font-light-color), 0.3);
    cursor: pointer;
  }
  &:active {
    background-color: alpha(var(--font-secondary-color), 0.5);
  }
  &.primary {
    color: var(--primary-color);
    &:hover {
      background-color: alpha(var(--primary-color), 0.2);
    }
    &:active {
      background-color: alpha(var(--primary-color), 0.4);
    }
  }
  &.secondary {
    color: var(--secondary-color);
    &:hover {
      background-color: alpha(var(--secondary-color), 0.2);
    }
    &:active {
      background-color: alpha(var(--secondary-color), 0.4);
    }
  }
  &.red {
    color: var(--red-color);
    &:hover {
      background-color: alpha(var(--red-color), 0.2);
    }
    &:active {
      background-color: alpha(var(--red-color), 0.4);
    }
  }
  &.green {
    color: var(--green-color);
    &:hover {
      background-color: alpha(var(--green-color), 0.2);
    }
    &:active {
      background-color: alpha(var(--green-color), 0.4);
    }
  }
  &.yellow {
    color: lightness(var(--accent-color), 0.88);
    &:hover {
      background-color: alpha(var(--accent-color), 0.2);
    }
    &:active {
      background-color: alpha(var(--accent-color), 0.4);
    }
  }
  &.light {
    color: var(--font-light-color);
    &:hover {
      background-color: alpha(var(--bg-color-light), 0.2);
    }
    &:active {
      background-color: alpha(var(--bg-color-light), 0.4);
    }
  }
  /* // VARIANT: OUTLINED */
  &.outlined {
    border: 1px solid;
    border-color: var(--font-light-color);
    &.primary {
      border-color: var(--primary-color);
    }
    &.secondary {
      border-color: var(--secondary-color);
    }
    &.red {
      border-color: var(--red-color);
    }
    &.green {
      border-color: var(--green-color);
    }
    &.yellow {
      border-color: lightness(var(--accent-color), 0.88);
    }
  }
  /* // VARIANT: CONTAINED */
  &.contained {
    color: white;
    background-color: var(--primary-color);
    &:hover {
      background-color: var(--primary-color-light);
    }
    &:active {
      background-color: var(--primary-color);
    }
    &.secondary {
      background-color: var(--secondary-color);
      &:hover {
        background-color: var(--secondary-color-light);
      }
      &:active {
        background-color: var(--secondary-color);
      }
    }
    &.accent {
      background-color: var(--accent-color);
      &:hover {
        background-color: lightness(var(--accent-color), 1.1);
      }
      &:active {
        background-color: lightness(var(--accent-color), 1.05);
      }
    }
    &.red {
      background-color: var(--red-color);
      &:hover {
        background-color: lightness(var(--red-color), 1.2);
      }
      &:active {
        background-color: lightness(var(--red-color), 0.8);
      }
    }
    &.green {
      background-color: var(--green-color);
      &:hover {
        background-color: lightness(var(--green-color), 1.2);
      }
      &:active {
        background-color: lightness(var(--green-color), 0.8);
      }
    }
    &.yellow {
      background-color: var(--accent-color);
      &:hover {
        background-color: lightness(var(--accent-color), 1.2);
      }
      &:active {
        background-color: lightness(var(--accent-color), 0.8);
      }
    }
  }
  &.shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  /* // ICON: DEFAULT */
  i,
  svg {
    margin-right: 0.75em;
  }

  /* // DISABLED */
  &:disabled {
    color: var(--font-light-color);
    border: none;
    &:hover,
    &:active {
      background-color: unset;
      cursor: unset;
    }
    &.contained {
      background-color: lightness(var(--font-light-color), 1.05);
    }
  }
}
