@import "../../styles/functions.scss";

.form {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: min-content;
  row-gap: 1rem;
}
.general {
  margin-bottom: var(--spacing-med);
}
.debugger {
  background-color: white;
  padding: var(--spacing-med);
  border-radius: var(--spacing-small);
  border: 1px solid var(--font-light-color);
  pre {
    font-size: 0.875rem;
    margin: 0;
  }
}
