@import "../../styles/sizes.scss";
.leftpush {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  column-gap: 1rem;
  grid-template-columns: auto max-content;
}

@media (max-width: $tablet) {
  .hide-right {
    > div:nth-child(2) {
      display: none;
    }
  }
}
