@import "../../styles/colors.scss";

.profileheader {
  .hero {
    overflow: hidden;
    max-height: 175px;
    border-radius: 0.5rem;
    .image {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .avatar-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 0.75rem;
    margin-top: -2rem;
    .avatar-wrapper {
      flex-grow: 1;
      .avatar {
        background-color: $background;
        border: 0.2rem solid $background;
      }
    }
    .action {
      flex-grow: 0;
      padding-bottom: 1rem;
    }
  }
  .info {
    padding: 0 0.75rem;
  }
}
