@import "../../styles/functions.scss";

.profileheader {
  .hero {
    overflow: hidden;
    max-height: 175px;
    border-radius: var(--spacing-small);
    .image {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .avatar-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: var(--spacing-med);
    margin-top: -2rem;
    .avatar-wrapper {
      flex-grow: 1;
      .avatar {
        background-color: var(--bg-color);
        border: 0.2rem solid var(--bg-color);
      }
    }
    .action {
      flex-grow: 0;
      padding-bottom: 1rem;
    }
  }
  .info {
    padding: 0 var(--spacing-med);
  }
}
