.prostamp {
  font-size: 0.8em;
  padding: 0.1em 0.25em;
  border-radius: 0.5em;
  line-height: 1;
  box-shadow: var(--box-shadow-low);
  color: whitesmoke;
  background-color: var(--secondary-color-dark);
  font-weight: bold;
  font-style: italic;
}
