.tag {
  color: white;
  display: block;
  background-position: center;
  background-size: cover;
  border: none;
  box-sizing: border-box;
  padding-right: 1.5rem;
  .push {
    display: flex;
    align-items: center;
    .name {
      flex-grow: 1;
    }
    .button {
      display: inline-flex;
      flex-grow: 0;
    }
  }
}
