.form {
  display: grid;
  grid-auto-flow: row;
  row-gap: 0.4rem;
  .content {
    margin-top: var(--spacing-small);
    min-height: 6rem;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
