@import "../../styles/functions.scss";
.progresspost {
  display: grid;
  grid-auto-flow: row;
  row-gap: 0.4rem;
  .postreactions {
    margin-top: var(--spacing-small);
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: min-content;
    align-items: center;
    column-gap: 0.4rem;
  }
  .comments {
    display: grid;
    grid-auto-flow: row;
    row-gap: 0.4rem;
  }
}

.postheader {
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto min-content;
  column-gap: var(--spacing-med);
  .info {
    display: flex;
    flex-direction: column;
    .sparkcrumb {
      margin-bottom: var(--spacing-small);
    }
  }
  .menu {
    align-self: self-start;
  }
}
