@import "../../styles/colors.scss";

.popup-content {
  position: absolute;
  z-index: 9997;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.popup-container {
  position: relative;
  display: inline-block;
}

.popup {
  background-color: $backgroundLight;
  border-radius: 6px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.25), 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  overflow: hidden;
}
.popup-trigger {
  &:focus {
    outline: 1px dotted $secondaryLight;
  }
}
