@import "functions";

:root {
  --primary-hue: 209;
  @include defineColorHSL(--primary-color, var(--primary-hue), 80%, 28%);
  @include defineColorHSL(--primary-color-light, var(--primary-hue), 80%, 40%);
  @include defineColorHSL(--primary-color-dark, var(--primary-hue), 80%, 11%);

  @include defineColorHSL(--secondary-color, var(--primary-hue), 90%, 40%);
  @include defineColorHSL(
    --secondary-color-light,
    var(--primary-hue),
    90%,
    75%
  );
  @include defineColorHSL(--secondary-color-dark, var(--primary-hue), 90%, 30%);

  --accent-hue: 44;
  @include defineColorHSL(--accent-color, var(--accent-hue), 92%, 70%);
  @include defineColorHSL(--accent-color-light, var(--accent-hue), 18%, 90%);
  @include defineColorHSL(--accent-color-dark, var(--accent-hue), 92%, 50%);

  @include defineColorHSL(--font-color, var(--primary-hue), 10%, 10%);
  @include defineColorHSL(--font-secondary-color, var(--primary-hue), 10%, 40%);
  @include defineColorHSL(--font-light-color, var(--primary-hue), 10%, 65%);

  @include defineColorHSL(--bg-color, var(--primary-hue), 5%, 93%);
  @include defineColorHSL(--bg-color-secondary, var(--primary-hue), 5%, 96%);
  @include defineColorHSL(--bg-color-light, 0, 0%, 100%);
  @include defineColorHSL(--bg-color-dark, 0, 0%, 0%);
  @include defineColorHSL(--border-color, 0, 0%, 80%);

  @include defineColorHSL(--red-color, 0, 58%, 49%);

  @include defineColorHSL(--green-color, 130, 53%, 41%);

  --box-shadow-high: 0 8px 40px rgba(0, 0, 0, 0.25),
    0 4px 16px rgba(0, 0, 0, 0.1);
  --box-shadow-med: 0 2px 6px rgba(0, 0, 0, 0.25), 0 4px 16px rgba(0, 0, 0, 0.1);
  --box-shadow-low: 0 1px 2px rgba(0, 0, 0, 0.25);

  --bg-color-hover: hsla(
    var(--font-light-color-h),
    var(--font-light-color-s),
    var(--font-light-color-l),
    0.25
  );
  --bg-color-active: hsla(
    var(--font-light-color-h),
    var(--font-light-color-s),
    var(--font-light-color-l),
    0.5
  );
}

[data-theme="dark"] {
  @include defineColorHSL(
    --primary-color,
    var(--primary-hue),
    87%,
    98%
  ); // Make it white
  @include defineColorHSL(--primary-color-light, var(--primary-hue), 87%, 98%);
  @include defineColorHSL(--primary-color-dark, var(--primary-hue), 87%, 98%);

  @include defineColorHSL(--secondary-color, var(--primary-hue), 90%, 50%);
  @include defineColorHSL(
    --secondary-color-light,
    var(--primary-hue),
    90%,
    85%
  );
  @include defineColorHSL(--secondary-color-dark, var(--primary-hue), 90%, 40%);

  @include defineColorHSL(--font-color, var(--primary-hue), 10%, 90%);
  @include defineColorHSL(--font-secondary-color, 0, 0%, 70%);
  @include defineColorHSL(--font-light-color, 0, 0%, 50%);

  @include defineColorHSL(--red-color, 0, 58%, 70%);
  @include defineColorHSL(--green-color, 130, 53%, 70%);

  @include defineColorHSL(--bg-color, 220, 6%, 14%);
  @include defineColorHSL(--bg-color-secondary, 220, 6%, 14%);
  // @include defineColorHSL(--bg-color-secondary, var(--primary-hue), 5%, 18%);
  @include defineColorHSL(--bg-color-light, 0, 0%, 18%);
  @include defineColorHSL(--bg-color-dark, 220, 6%, 10%);
  @include defineColorHSL(--border-color, 0, 0%, 70%);

  color: var(--font-color);
  background-color: var(--bg-color);
}

html {
  color: var(--font-color);
  background-color: var(--bg-color);
}
