@import "../../../styles/colors.scss";

.tag {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color-dark);
  font-size: 0.9em;
  &:hover {
    text-decoration: underline;
    text-decoration-color: inherit;
    cursor: pointer;
  }
}

.item {
  padding: var(--spacing-small) var(--spacing-med);
  display: flex;
  align-items: center;
  .icon {
    margin-right: var(--spacing-med);
  }
  &:hover {
    cursor: pointer;
    background-color: lightness(var(--bg-color, lightgray), 1.05);
  }
  &.selected {
    background-color: lightgray;
  }
}
