@import "../../../styles/colors.scss";

.tag {
  display: inline-block;
  text-decoration: none;
  color: $primaryDark;
  font-size: 0.9em;
  &:hover {
    text-decoration: underline;
    text-decoration-color: inherit;
    cursor: pointer;
  }
}
