@import "../../styles/colors.scss";
@import "../../styles/sizes.scss";

.main {
  background-color: $background;
  padding: 0.5rem 1rem;
  overflow-y: auto;
}

@media (max-width: $tablet) {
  .main {
    padding: 0.25rem 0.5rem;
  }
}
