@import "../../styles/colors.scss";
@import "../../styles/sizes.scss";

.main {
  background-color: $background;
  padding: 0.5rem 1rem;
  overflow-y: auto;
  &.loading {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .spinner {
      margin: 2rem;
    }
  }
}

@media (max-width: $tablet) {
  .main {
    padding: 0.25rem 0.5rem;
  }
}
