.logo-container {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  height: 100%;
  .symbol,
  .text {
    color: var(--primary-color);
    display: inline-flex;
  }
  .symbol {
    margin-right: var(--spacing-small);
  }
}
