@import "../../styles/colors.scss";

.select {
  border: 1px solid $grey;
  border-radius: 6px;
  padding: 0.25rem 0.75rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  &.error {
    border-color: $red;
  }
  &:hover {
    border-color: $greyText;
    cursor: pointer;
    .select-arrow {
      color: $greyText;
    }
  }
  .select-arrow {
    display: inline-flex;
    margin-left: 1rem;
    align-self: center;
    justify-self: center;
    font-size: 0.5rem;
    color: lighten($greyText, 10%);
    &.nomargin {
      margin-left: 0;
    }
  }
  .label {
    color: $greyText;
  }
}
.select-options {
  background-color: $backgroundLight;
  border-radius: 6px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.25), 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  .select-option {
    padding: 0.5rem 1.25rem;
    min-width: 11rem;
    &.compact {
      min-width: unset;
    }
    &[aria-selected="true"] {
      background-color: rgba($primaryLight, 0.2);
    }
    &:focus {
      outline: none;
      &:not([aria-selected="true"]) {
        background-color: lighten($greyLight, 15%);
      }
    }
    &:hover {
      &:not(:focus):not([aria-selected="true"]) {
        background-color: lighten($greyLight, 18%);
      }
      cursor: pointer;
    }
  }
}
