@import "../../styles/sizes.scss";

.homebar {
}
.container {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: 3fr 2fr;
}
.right {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto min-content;
  align-items: center;
  column-gap: 0.5rem;
}
.searchBtn {
  display: none;
}
@media (max-width: $tablet) {
  .container {
    grid-template-columns: auto min-content;
  }
  .search {
    display: none;
  }
  .searchBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
