@import "../../../styles/colors.scss";

.mention {
  display: inline-block;
  text-decoration: none;
  color: $primaryDark;
  font-size: 0.9em;
  padding: 0.1em 0.25em;
  border-radius: 0.25rem;
  background-color: rgba($primary, 0.2);
  &:hover {
    text-decoration: underline;
    text-decoration-color: inherit;
    cursor: pointer;
  }
}

.item {
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  .avatar {
    margin-right: 0.75rem;
  }
  &:hover {
    cursor: pointer;
    background-color: lighten(lightgray, 5%);
  }
  &.selected {
    background-color: lightgray;
  }
}
