@import "../../styles/colors.scss";
@import "../../styles/sizes.scss";

.naviconbutton {
  display: inline-flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 1.75em;
  height: 1.75em;
  background-color: transparent;
  color: lightness(var(--secondary-color), 1.15);
  transition: all 100ms ease-in-out;
  &:focus {
    outline: 1px dotted lightness(var(--secondary-color), 1.15);
  }
  &:hover {
    cursor: pointer;
  }
  &:hover:not(.active) {
    background-color: alpha(var(--bg-color-light), 0.25);
  }
  &:active:not(.active) {
    background-color: alpha(var(--bg-color-light), 0.5);
  }
  &.active {
    background-color: var(--bg-color-light);
    color: var(--primary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: $tablet) {
  .naviconbutton {
    font-size: 1.25rem;
  }
}
