@import "../../styles/functions.scss";

.showing {
  display: flex;
}

.sparksnav {
  .navbtn {
    &:hover {
      .btns {
        display: flex;
      }
    }
  }
  .container {
    display: flex;
    align-items: center;
    .title {
      flex-grow: 1;
    }
    .btns {
      display: none;
      &.showing {
        display: flex;
      }
      flex-grow: 0;
      align-items: center;
      .btn {
        display: inline-flex;
        // margin-right: 0.25rem;
      }
    }
  }
  .boards {
    margin-left: 1.5rem;
    // border-left: 1px solid var(--font-light-color);
    .space-label {
      margin-left: 0.8rem;
    }
    box-sizing: border-box;
  }
}
