@import "../../styles/colors.scss";
.sidebar {
  padding: 0;
  background-color: var(--bg-color-light);
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--font-light-color);

  .popup {
    width: 100%;
    display: block;
    .trigger {
      width: 100%;
      display: block;
    }
  }
  .main-btns {
    margin-bottom: 1rem;
  }
  .sparks {
    min-height: 0;
    flex-grow: 1;
    display: grid;
    grid-template-rows: min-content auto;

    .sparksnav {
      min-height: 0;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 1px 0;
      border-bottom: 1px solid var(--font-light-color);
    }
    .label {
      padding-left: 0.75rem;
    }
  }
  .divider {
    padding-bottom: 0.75rem;
  }
  .newbtn {
    > div {
      padding: 0.75rem 1rem;
    }
  }
  .logo-container {
    padding: 0.45rem 1rem;
    background-color: var(--primary-color);
    flex-grow: 0;
    color: var(--bg-color);
    display: flex;
    align-items: flex-end;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      margin-right: 0.25rem;
      // border-bottom: 1px solid var(--font-light-color);
      .symbol {
        display: inline-flex;
        font-size: 1em;
        color: var(--accent-color);
        margin-right: 0.3em;
      }
      .text {
        color: var(--bg-color-light);
        display: inline-flex;
        font-size: 0.6em;
      }
      // justify-content: center;
    }
    .links {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      // align-items: flex-end;
    }
    // align-self: self-end;
  }
  .type {
    display: inline-flex;
    > i,
    > svg {
      margin-right: 0.75em;
      top: 0.15rem;
    }
  }
}
