@import "../../styles/functions.scss";
.sidebar {
  box-sizing: border-box;
  // background-color: var(--bg-color-light);
  // border-radius: 0 var(--spacing-small) var(--spacing-small) 0;
  // box-shadow: var(--box-shadow-low);
  height: 100%;
  // overflow-y: auto;
  // height: calc(100%-1.25rem);
  width: 100%;
  padding: 0 0 0 var(--spacing-med);

  .bottomlinks {
    display: grid;
    align-items: center;
    grid-template-columns: auto min-content;
    padding-bottom: var(--spacing-med);
  }
}
