@import "../../styles/colors.scss";
.sidebar {
  padding: 0.5rem 0 2rem;
  background-color: $backgroundLight;
  box-sizing: border-box;
  height: 100vh;
  max-width: 300px;
  display: grid;
  grid-template-rows: repeat(5, min-content) auto;
  row-gap: 0.75rem;
  .sparks {
    .label {
      padding-left: 0.75rem;
    }
  }
  .divider {
    padding: 0 0.75rem;
  }
  .bottom-links {
    padding: 0 0.75rem;
    align-self: self-end;
  }
  .type {
    display: inline-flex;
    > i,
    > svg {
      margin-right: 0.75em;
    }
  }
}
