@import "../../styles/colors.scss";

.card {
  padding: 1rem;
  border: 1px solid $grey;
  border-radius: 0.75rem;
  background-color: $backgroundLight;
  .no-side-padding {
    padding-left: 0;
    padding-right: 0;
  }
}
