@import "../../styles/colors.scss";
@import "../../styles/sizes.scss";

.sidenav {
  box-sizing: border-box;
  background-color: $primary;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  .navbutton {
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &.new {
      display: none;
    }
  }
  .logo {
    color: $accent;
    font-size: 2.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .fab {
    margin-top: auto;
    margin-bottom: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: $tablet) {
  .sidenav {
    flex-direction: row;
    align-items: center;
    height: min-content;
    padding: 0.25rem 0;
    .logo {
      display: none;
    }
    .fab {
      display: none;
    }
    .navbutton {
      flex-grow: 1;
      margin: 0;
      &.new {
        display: flex;
      }
    }
  }
}
