@import "../../styles/functions.scss";

.loading-spinner {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: relative;
  display: inline-flex;
  &:after,
  &:before {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  &:after {
    position: absolute;

    top: -0.15rem;
    left: -0.15rem;
    border: 0.15rem solid transparent;
    border-top-color: var(--secondary-color);
    // border-bottom-color: var(--accent-color);
    animation: spinny 0.75s linear infinite;
  }
  &.white {
    &:after {
      border-top-color: white;
    }
  }
  &.small {
    width: 1.125rem;
    height: 1.125rem;
    &:after,
    &:before {
      width: 1.125rem;
      height: 1.125rem;
    }
  }
}
@keyframes spinny {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
