.avatar-row {
  display: inline-grid;
  grid-auto-flow: column;
  grid-template-columns: min-content;
  column-gap: var(--spacing-small);
  align-items: center;
}
.actionrow {
  display: flex;
  align-items: center;
  .left {
    flex-grow: 1;
  }
  .right {
    flex-grow: 0;
  }
}
.search {
  margin-bottom: 0.25rem;
  display: grid;
  align-items: center;
  grid-template-columns: auto min-content;
  column-gap: var(--spacing-small);
}
.collaborator-container {
  display: grid;
  grid-template-columns: auto min-content;
  align-items: center;
}
