@import "../../styles/functions.scss";
@import "../../styles/sizes.scss";

.mobilenav {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--primary-color-light);
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  height: min-content;
  padding: 0.25rem;
  .navbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
    .new {
      width: 100%;
      // display: flex;
    }
  }
}

[data-theme="dark"] {
  .mobilenav {
    background-color: var(--bg-color);
  }
}
