@import "../../styles/colors.scss";
@import "../../styles/sizes.scss";

.sidenav {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--primary-color);
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  height: min-content;
  padding: 0.25rem 0;
  .navbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
    &.new {
      display: flex;
    }
  }
}
