@import "../../styles/functions.scss";

.textinput {
  font-family: var(--body-font);
  color: var(--font-color);
  background-color: inherit;
  font-style: normal;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid var(--font-light-color);
  transition: all 0.2s ease-in-out;
  width: 100%;
  padding: 0.3rem 0;
  &.error {
    border-color: var(--red-color);
  }
  &:focus {
    outline: none;
    border-color: var(--primary-color-dark);
  }
  &:hover:not(:focus) {
    outline: none;
    border-color: var(--font-secondary-color);
  }
}
