@import "../../styles/colors.scss";

.alert {
  // position: fixed;
  // top: 0;
  // right: 0;
  // z-index: 9997;
  display: flex;
  padding: 0.5rem 1rem;
  background-color: var(--font-light-color);
  border-radius: 6px;
  &.filled {
    color: var(--font-light-color);
    &.info {
      background-color: var(--primary-color);
    }
    &.success {
      background-color: var(--green-color);
    }
    &.warning {
      background-color: var(--accent-color);
    }
    &.error {
      background-color: var(--red-color);
    }
  }
  &.normal {
    &.info {
      background-color: rgba-to-rgb(alpha(var(--primary-color), 0.2));
    }
    &.success {
      background-color: rgba-to-rgb(alpha(var(--green-color), 0.25));
    }
    &.warning {
      background-color: rgba-to-rgb(alpha(var(--accent-color), 0.3));
    }
    &.error {
      background-color: rgba-to-rgb(alpha(var(--red-color), 0.3));
    }
  }
}
