@import "../../styles/functions.scss";

.popup-menu {
  background-color: var(--bg-color-light);
  border-radius: 0.5rem;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.25), 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  min-width: 10rem;
  max-height: 300px;
  padding: calc(var(--spacing-small) / 2);
}
