@import "../../styles/functions.scss";

.navbutton {
  padding: 0;
  display: block;
  background-color: inherit;
  box-sizing: border-box;
  width: 100%;
  border: none;
  &:focus {
    outline: none;
    .container {
      outline: 1px solid var(--secondary-color-light);
    }
  }
  &:hover {
    cursor: pointer;
    .container {
      background-color: alpha(var(--font-light-color), 0.25);
    }
  }
  &:active {
    .container {
      background-color: alpha(var(--font-light-color), 0.5);
    }
  }
  &.active {
    .container {
      background-color: alpha(var(--accent-color), 0.6);
    }
  }
  .container {
    transition: background-color 100ms ease-in-out;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
  }

  /* // ICON: DEFAULT */
}
