@import "../../styles/functions.scss";

.point {
  display: inline-block;
  position: relative;
  align-items: center;
  font-size: 0.65rem;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  svg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }
  &.border {
    width: 1.5em;
    height: 1.5em;
    background-color: var(--bg-color);
  }
  &.primary {
    color: var(--primary-color);
  }
  &.light {
    color: var(--secondary-color-light);
  }
  &.red {
    color: var(--red-color);
  }
  &.green {
    color: var(--green-color);
  }
  &.grey {
    color: var(--font-secondary-color);
  }
  &.small {
    font-size: var(--spacing-small);
  }
}
