.feed-items {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: row;
  row-gap: var(--spacing-med);
  margin-left: -1.25rem;
}
.loading {
  text-align: center;
}
.timeline {
  margin-left: 1rem;
}
.feed {
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .timeline {
    display: none;
  }
}
