.signature {
  display: flex;
  flex-direction: row;
  align-items: center;
  .sig-seal {
    display: inline-flex;
    flex-grow: 0;
    margin-right: var(--spacing-med);
  }
  .sig-text {
    flex-grow: 1;
    white-space: nowrap;
  }
}
