@import "../../styles/functions.scss";

.timeline {
  display: inline-block;
  width: 1px;
  overflow: hidden;
  height: 100%;
  margin-top: 1rem;
  min-height: 2rem;
  border-left: 2px solid var(--bg-color-hover);
}
