@import "../../styles/colors.scss";

.timeline {
  display: inline-block;
  width: 1px;
  overflow: hidden;
  height: 100%;
  min-height: 2rem;
  border-left: 2px solid $secondaryLight;
  // box-sizing: border-box;
}
