@import "../../styles/colors.scss";

.tags {
  display: inline-grid;
  grid-auto-flow: column;
  grid-template-columns: min-content;
  column-gap: 0.25rem;
  align-items: center;
}
.glow {
  box-shadow: 0px 0px 7px 0px var(--accent-color);
  border: 1px solid var(--accent-color);
}
.card {
  &:hover {
    cursor: pointer;
  }
}
