@import "../../styles/functions.scss";

.chip {
  display: inline-flex;
  align-items: center;
  border-radius: 0.75rem;
  color: var(--primary-color);
  background-color: alpha(var(--secondary-color), 0.2);
  padding-right: 0.5rem;
  .symbol {
    display: inline-flex;
    padding-left: 0.25rem;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    min-width: 1rem;
  }
  .label {
    display: inline-flex;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  }
  .remove {
    margin-left: 0.5rem;
  }
  &.grey {
    color: var(--font-secondary-color);
    background-color: alpha(var(--font-secondary-color), 0.2);
  }
}
