@import "../../styles/functions.scss";
// Colors
$bg-color: var(--bg-color);
$dot-color: lightness(var(--bg-color), 0.9);
// Dimensions
$dot-size: 2px;
$dot-space: 16px;

.canvas {
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      left,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) top,
    $dot-color;
  background-size: $dot-space $dot-space;
  min-height: 110vh;
  min-width: 110vw;
  box-sizing: border-box;
  position: relative;
}
