@import "../../styles/functions.scss";

.tooltip-element {
  display: inline-flex;
}
.tooltip-content {
  position: fixed;
  opacity: 0;
  transition: opacity 200ms ease-in-out 300ms;
  &.no-delay {
    transition-delay: 0s;
  }
}
.tooltip {
  border-radius: 6px;
  padding: 0.2rem 0.7rem;
  color: var(--font-light-color);
  background-color: alpha(var(--bg-color-dark), 0.8);
  &::after {
    content: " ";
    position: absolute;
    border-width: 5px;
    border-style: solid;
  }
  &.bottom::after {
    left: 50%;
    margin-left: -5px;
    bottom: 100%;
    border-color: transparent transparent
      alpha(var(--bg-color-dark) transparent, 0.8);
  }
  &.top::after {
    left: 50%;
    margin-left: -5px;
    top: 100%;
    border-color: alpha(
      var(--bg-color-dark) transparent transparent transparent,
      0.8
    );
  }
  &.right::after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-color: transparent
      alpha(var(--bg-color-dark) transparent transparent, 0.8);
  }
  &.left::after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-color: transparent transparent transparent
      alpha(var(--bg-color-dark), 0.8);
  }
}
