@import "../../styles/colors.scss";

.tooltip-element {
  display: inline-block;
}
.tooltip-content {
  position: fixed;
  opacity: 0;
  transition: opacity 200ms ease-in-out 300ms;
  &.no-delay {
    transition-delay: 0s;
  }
}
.tooltip {
  border-radius: 6px;
  padding: 0.2rem 0.7rem;
  color: $lightText;
  background-color: $tooltipBackground;
  &::after {
    content: " ";
    position: absolute;
    border-width: 5px;
    border-style: solid;
  }
  &.bottom::after {
    left: 50%;
    margin-left: -5px;
    bottom: 100%;
    border-color: transparent transparent $tooltipBackground transparent;
  }
  &.top::after {
    left: 50%;
    margin-left: -5px;
    top: 100%;
    border-color: $tooltipBackground transparent transparent transparent;
  }
  &.right::after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-color: transparent $tooltipBackground transparent transparent;
  }
  &.left::after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-color: transparent transparent transparent $tooltipBackground;
  }
}
