@import "../../../styles/colors.scss";
$tabBorderSize: 2px;

.tab-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-med);
  > a {
    flex-grow: 0;
  }
  &.center {
    > a {
      flex-grow: 1;
    }
  }
  &.right {
    justify-content: flex-end;
  }
}
