@import "../../../styles/colors.scss";
$tabBorderSize: 0.125rem;
// TODO: Background color on selected tab
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-small) var(--spacing-big);
  text-transform: uppercase;
  margin-bottom: -$tabBorderSize;
  border-bottom: $tabBorderSize solid transparent;
  transition: all 150ms ease-in-out;
  color: var(--font-secondary-color);
  text-decoration: none;
  border-radius: 0.25rem 0.25rem 0 0;
  &.disabled {
    color: alpha(var(--font-light-color), 0.7);
    &:hover {
      background-color: unset;
      border-bottom: $tabBorderSize solid transparent;
      color: alpha(var(--font-light-color), 0.7);
      cursor: unset;
    }
  }
  &:hover {
    border-bottom: $tabBorderSize solid alpha(var(--primary-color), 0.5);
    color: alpha(var(--primary-color), 0.8);
    cursor: pointer;
  }
  &.active {
    border-bottom: $tabBorderSize solid var(--primary-color);
    color: var(--primary-color);
    background-color: alpha(var(--secondary-color), 0.15);
  }
}
