@import "../../styles/functions.scss";

.link {
  text-decoration: none;
  color: unset;
  &.highlight {
    color: var(--secondary-color);
  }
  &.inline {
    display: inline-flex;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-color: inherit;
  }
}
