@import "../../styles/colors.scss";

.reaction {
  display: inline-flex;

  .emoji {
    font-size: 0.8rem;
  }
  &:focus {
    outline: 1px dotted var(--secondary-color-light);
  }
  .chip {
    &.reactable {
      &:hover {
        cursor: pointer;
      }
      transition: all 0.1s ease-in-out;

      &:not(.reacted) {
        &:hover {
          background-color: rgba-to-rgb(
            alpha(var(--font-secondary-color), 0.3)
          );
        }
        &:active {
          background-color: rgba-to-rgb(
            alpha(var(--font-secondary-color), 0.5)
          );
        }
      }

      &.reacted {
        &:hover {
          background-color: rgba-to-rgb(
            alpha(var(--secondary-color-light), 0.6)
          );
        }
        &:active {
          background-color: rgba-to-rgb(
            alpha(var(--secondary-color-light), 0.8)
          );
        }
      }
    }
  }
}
