@import "../../styles/functions.scss";

.wrapper {
  position: relative;

  .board-card {
    display: block;
    min-height: 8rem;
  }
  .options {
    right: var(--spacing-small);
    top: var(--spacing-small);
  }

  .options {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    position: absolute;
    right: -1rem;
    top: 0;
    &.optionsopen {
      opacity: 1;
    }
  }
  &:hover {
    .options {
      opacity: 1;
    }
  }
}
